@charset "utf-8";
/*---CSS Document---*/

@import url("reset.css");

@font-face {
   font-family: 'Swiss921BTRegular';
   src: url('../font/swiss921_bt-webfont.eot');
   src: url('../font/swiss921_bt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/swiss921_bt-webfont.woff') format('woff'),
        url('../font/swiss921_bt-webfont.ttf') format('truetype'),
        url('../font/swiss921_bt-webfont.svg#Swiss921BTRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

html {
  height:auto;
  background:#ffffff;
}

html,body {
  border:0px;
  margin: 0px;
  padding: 0px;
  height:auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  color:#000000;
  line-height:24px;
  font-smooth:always;
  text-align:justify; 
  hyphens: none;
  -webkit-font-smoothing:antialiased; 
  /*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

p{
  padding-bottom:24px;
}

ul{
  padding-bottom:24px;
}

h1 {
  font-family:'Swiss921BTRegular', Helvetica, sans-serif;
  font-weight:normal;
  font-size:30px;
  line-height:40px;
}

h2 {
  font-family:'Swiss921BTRegular', Helvetica, sans-serif;
  font-weight:normal;
  font-size:18px;
  line-height:30px;
  color:#fff200;
}

h3 {
  font-family:'Swiss921BTRegular', Helvetica, sans-serif;
  font-weight:normal;
  font-size:24px;
  line-height:30px;
  color:#fff200;
}

h4 {
  font-family:'Swiss921BTRegular', Helvetica, sans-serif;
  font-weight:normal;
  font-size:18px;
  line-height:30px;
  color:#00929f;
}

h5 {
  font-family:'Swiss921BTRegular', Helvetica, sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height:30px;
  color:#00929f;
}


.survey_table{
  width:245px;
}

.survey_table td {
  height:25px;
  border-bottom:1px solid #fff;
  padding-left:20px;
  color:#ffffff;
}

.headline_bar {
  width:100%; 
  height:40px; 
  background:#00929f; 
  color:#fff200; 
  margin-bottom:24px;
}

.headline_bar2 {
  width:100%; 
  height:30px; 
  background:#00929f; 
  color:#fff200; 
  margin-bottom:24px;
}

.light_box_border{
  border:none;
}

.light_box_border:hover{
  border-top:5px solid #ccc;
}

.center_panel {
/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 140, 159);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 140, 159, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9900929f, endColorstr=#9900929f);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9900929f, endColorstr=#9900929f)";
	vertical-align:top; 
	padding: 30px 10px 0px 10px;
	margin:10px;
	color:#ffffff;
	text-align:left;
	margin:0px;
	width:auto;
}
.center_panel p{
  width:200px;
  display:block;
}

.wrapper {
  width:1000px; 
  margin:0 auto; 
  height:auto;
  min-height:100%;
}

.content {
  width:745px;
  display:block;
  position:relative;
  float:right;
  z-index:998;
  padding:50px 0px 0px 0px;
}

/*---Footer Menu---*/
.footer{
  padding:0px 0px 20px 5px;
  display:inline-block;
  width:745px;
}

/*---Footer Menu End---*/

/*---Side Bar---*/
#sidecurrent{
  text-decoration:none;
  background:#00929f center;
  width:auto;
  height:30px;
  display:block;
  color:#fff200;
}

.side_bar{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  color:#000000;
  width:245px;
  height:auto;
  position:fixed;
  margin:0;
  padding:50px 0px 0px 0px;
  display:block;
  z-index:999;
  background:#ffffff;
}

	.side_bar ul{
	  list-style:none;
	  margin:0;
	  padding:0;
	}
		.side_bar li{
		  width:240px;
		  height:30px;
		  text-align:left;
		  border-top:2px solid #e3e4e4; 
		}
		
		.side_bar li a{
		  background:none;
		  font-weight:normal;
		  margin:auto;
		  width:auto;
		  padding:0px 0px 0px 10px;
		  height:30px;
		  line-height:30px;
		  text-decoration:none;
		  font-size:14px;
		  color:#1e5050;
		  display:block;
		}
	
		.side_bar a:hover,
		.side_bar li:hover a{
		  width:auto;
		  height:30px;
		  text-decoration:none;
		  background:#00929f center;
		  display:block;
		  font-size:14px;
		  color:#fff200;
		  display:block;
		}
		
/*---Main Menu End---*/

/*--- Sliding Box---*/
.boxgrid{ 
				width: 182px; 
				height: 140px; 
				margin:0px; 
				float:left; 
				background:#00929f; 
				border: solid 0px #8399AF; 
				overflow: hidden; 
				position: relative;
				margin-right: 5px;
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
				}
				.boxgrid p{ 
					padding: 0 10px; 
					color:#fff200; 
					font-weight:normal; 
					font:10pt;
					line-height:20px;
					text-align:left; 
				}
				.boxgrid a{ 
					text-decoration:none;
					width: 182px; 
					height: 140px;
					display:block; 
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 100px; 
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
 				.captionfull .boxcaption {
 					top: 260;
 					left: 10;
 				}
 				.caption .boxcaption {
 					top: 220;
 					left: 0;
 				}

/*---Sliding Box End---*/


.btnDoctorNear{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_doctor_near.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:169px;
  height:45px;
}

.btnDoctorNear:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_doctor_near_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:169px;
  height:45px;
}

#btnProceed{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_proceed.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:219px;
  height:45px;
}

#btnProceed:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_proceed_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:219px;
  height:45px;
}

.btnNext{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_next.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:53px;
  height:32px;
}

.btnNext:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_next_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:53px;
  height:32px;
}

.btnPrev{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_prev.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:53px;
  height:32px;
}

.btnPrev:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_prev_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:53px;
  height:32px;
}


#btnDocReg{
  margin: 0;
  border: 0;
  padding:10px 0px 0px 0px;
  background: transparent url('../images/doctor_reg.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
  width:245px;
  height:74px;
}

#btnDocReg:hover {
  margin: 0;
  padding:10px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/doctor_reg_active.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
  width:245px;
  height:74px;
}


